.page-title{
    font-family: "Inter";
    font-weight: 600;
    font-size: 1.5rem;
    color: #000000;
}
.page-body{
    margin-top: 6px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1rem;
    color: #475367;
}
.home-body-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    flex-wrap: wrap;
}
.home-chart{
    width: 100%;
}
.home-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.home-calendar{
    width: 100%;
    padding:1.5rem 1rem;
    border-radius: 12px;
    border: 1px solid #E4E7EC;
}

.home-body{
    margin-top: 20px;
}
.chart-head{
    font-family: "Inter";
    font-weight: 600;
    font-size: 1.125rem;
    color: #000000;
}
.chart-body{
    margin-top: 8px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    color: #475367;
}
.chart-container{
    margin-top: 20px;
    padding:1.5rem 1rem;
    border-radius: 12px;
    border: 1px solid #E4E7EC;
}
.graph-con{
    margin-top: 16px;
}
.calendar{
    margin-top: 30px;
}
.schedule-card{
    display: flex;
    align-items: center;
    gap: 17px;
    width: 100%;
    padding: 0.8125rem 0.875rem;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
}
.schedule-image{
    width: 33.39px;
    height: 33.39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #5627FF;
}
.schedule-image P{
    font-family: "Inter";
    font-size: 12px;
    font-weight: 600;
    color: white;
}
.schedule-details h4{
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    color: #323232;
}

.schedule-details p{
    margin-top: 5px;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    color: #98A2B3;
}
.home-body-bottom{
    width: 100%;
    margin-top: 32px;
    display: flex;
    gap: 24px;
}
.quick-action, .recent-message{
    border: 1px solid #E4E7EC;
    padding: 1rem 1.2rem;
    border-radius: 12px;
}
.quick-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E4E7EC;
}
.see-all{
    display: flex;
    align-items: center;
    gap: 8px;
}
.see-all p{
    color: #FFA500;
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter";
}
.see-all svg{
    color: #FFA500;
    font-size: 16px;
}
.quick-head-text{
    color: #101928;
    font-size: 18px;
    font-weight: 600;
    font-family: "Inter";
    padding-bottom: 1rem;
}
.quick-action{
    width: 40%;
}
.recent-message{
    width: 60%;
}
.action{
    padding: 1.1rem 0rem;
    border-bottom: 1px solid #E4E7EC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action-left{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}
.action-icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF8ED;
}
.action-icon svg{
    color: #FFA500;
    font-size: 1.1rem;
}
.action-text h3{
    color: #101928;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter";
}
.action-text p{
    width: 100%;
    margin-top: 4px;

    font-size: 14px;
    font-weight: 400;
    font-family: "Inter";
}
.action-right svg{
    color: #FFA500;
    font-size: 1.1rem;
}
.messages{
    padding: 1.1rem 0rem;
    border-bottom: 1px solid #E4E7EC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.messages-left{
    display: flex;
    align-items: center;
    gap: 8px;
}
.message-con img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.messages-right button{
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: #101928;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter";
    border: 1px solid #F3A218;
    border-radius: 8px;
}


@media only screen and (max-width: 767px) { 
    .home-body-bottom{
        flex-direction: column;
    }

    .quick-action{
        width: 100%;
    }
    .recent-message{
        width: 100%;
    }
  }