.layout{
    display: flex;
}
/* .layout-left{
    width: 314px;
} */
.layout-right{
    width: calc(100% - 314px);
    margin-left: 314px;
}
.layout-body{
    margin-top: 85px;
    padding: 1.875rem;
}

@media only screen and (max-width: 767px) { 
    .layout-right {
        width: 100%;
        border: 1px solid black;
        margin: 0;
    }
    .layout-left {
        width: 0%;
    }
  }