/* ResetPassword page and ForgetPassword page share the same css */

.forget-pass-con {
  display: flex;
  width: 100%;
}

.forget-pass-con .forget-pass-left-background-con {
  background-image: url("../../../Assets/images/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  position: relative;
}

.forget-pass-con .forget-pass-left-background-pic {
  position: absolute;
  left: 4vw;
  top: 8vh;
}

.forget-pass-con .forget-pass-left-background-con p {
  color: white;
  font-size: 46px;
  font-family: "General Sans";
  font-weight: 600;
  line-height: 62px;
  /* wordWrap: 'break-word' */
  position: absolute;
  left: 4vw;
  bottom: 4vh;
}

.forget-pass-form-con {
  width: 50%;
  margin-top: 0 auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.forget-pass-form-con .back {
  display: flex;
  align-items: center;
  gap: 0 1vw;
  color: rgba(1, 0, 58, 0.41);
  font-size: 15px;
  font-family: "Poppins";
  font-weight: "400";
  line-height: 32px;
  position: absolute;
  top: 4vh;
  right: 30vw;
  /* wordWrap: 'break-word' */
}


.forget-pass-form-con .e-m{

  margin-left: 3vw;
  margin-top: 3vh;
}


.forget-pass-form-con .error-message{
  width: 70%;
  margin: 0 auto;
  padding: 2vh 0
}



.forget-pass-form-con .back div {
  width: 1vw;
}
.forget-pass-form-con .back div img {
  width: 100%;
}
.forget-pass-con form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4vw;
  gap: 3vh 0;
  height: 100vh;
}

.forget-pass-con form input {
  padding: 1vh 1vw;
  width: 100%;

  background-color: rgba(1, 0, 58, 0.1);
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 32px;
  border-radius: 10px;
  border: none;
  outline: none;
  /* wordWrap: 'break-word' */
}

.forget-pass-con form h1 {
  color: #1a2129;
  font-size: 33px;
  font-family: "General Sans";
  font-weight: 600;
  /* wordWrap: 'break-word' */
}
.forget-pass-con form div:first-child p {
  color: #5e6b74;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: "400";
  line-height: 28px;
  /* wordWrap: 'break-word' */
}

.forget-pass-con form .reset-password {
  background-color: rgba(255, 165, 0, 0.6);
  color: white;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 600;
  border: none;
  padding: 2vh 2vw;
  border-radius: 10px;
}

.forget-pass-con .headset-p {
  display: flex;
  align-items: center;
  gap: 0 1vw;

  position: absolute;
  right: 6vw;
  bottom: 6vh;
  color: #3331a3;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 400;
  text-decoration: underline;
  line-height: 32px;
  /* wordWrap: 'break-word' */
}

.forget-pass-con .modal-con {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.forget-pass-con .modal-con .modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  margin: 0 7vw;
  padding: 18vh 12vw;
}

.forget-pass-con .modal-con .modal div {
  width: 8vw;
}
.forget-pass-con .modal-con .modal div img {
  width: 100%;
}
.forget-pass-con .modal-con .modal h1 {
  color: #1a2129;
  font-size: 33px;
  font-family: "General Sans";
  font-weight: 600;
  /* wordWrap: 'break-word' */
}

.forget-pass-con .modal-con .modal h1 {
  color: #1a2129;
  font-size: 33px;
  font-family: "General Sans";
  font-weight: 600;
  /* wordWrap: 'break-word' */
}
.forget-pass-con .modal-con .modal .message-sent {
  color: #5e6b74;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 28px;
  /* wordWrap: 'break-word' */
}
.forget-pass-con .modal-con .modal .user-email {
  font-weight: 500;
}

.forget-pass-con .modal-con .modal .wrong-e-address {
  color: rgba(1, 0, 58, 0.41);
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 32px;
  /* wordWrap: 'break-word' */
}

.forget-pass-con .modal-con .modal .re-enter-e-address {
  color: #ffa500;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 600;
  text-decoration: underline;
  line-height: 32px;
  /* wordWrap: 'break-word' */
}

