.library-card-container {
  border: 1px solid #d9d9d9;
  height: 300px;
  width: 240px;
  font-size: small;
  border-radius: 10px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  padding: 10px;
}
.content-animation{
  width: 50%;
}
.name {
  font-size: 1.3em;
  font-weight: bold;
}

.status {
  padding: 7px;
  font-size: 0.7em;
  font-weight: 600;
  border-radius: 10px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: 0.8em;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #667185;
}

.date {
  color: #667185;
  font-size: small;
  font-weight: 600;
}
